In [17]:
from Cluster import *
from ClusterManager import *
from Sign import *
from SignManager import *
from Camera import *
from decimal import *
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import csv
import argparse
import math

In [18]:
# Rounding Function
def round_half_up(n, decimals=3):
    multiplier = 10 ** decimals
    return math.floor(n*multiplier + 0.5) / multiplier

In [19]:
# Reading in data into a dataframe and formatting it.
df = pd.read_csv('E:/School/VIP/Data/LiDAR_Data/original/XYZ/V_20180816_I285_EB_run1(0)_2nd_leg.txt', sep = " ")
df = df.astype({'ID': int})
# TODO: Figure out how to read in data with only a certain number of demicals. This takes a lot of time.
df['Easting'] = df['Easting'].apply(round_half_up)
df['Northing'] = df['Northing'].apply(round_half_up)
df['Altitude'] = df['Altitude'].apply(round_half_up)
df['Retro'] = df['Retro'].apply(round_half_up)

In [4]:
# Filtering
df_filtered_1 = df.loc[df['Retro'] > 0.7]
df = df.reset_index(drop=True)

In [ ]:
# Clustering
cluster_manager = ClusterManager()
# list = cluster_manager.progressive_kdmean(df)
len(cluster_manager.cluster_list)

In [16]:
c = Cluster(pd.DataFrame(columns = df.columns))
c.add_point(df.iloc[0])
c.centroid_easting

nan

In [10]:
new_df = pd.DataFrame(columns = df.columns)
row = df.iloc[0]
new_df = new_df.append(row)
new_df

,ID,Easting,Northing,Altitude,Retro,Angle,Distance,UTC,Long,Lat
0,2021585.0,735587.939,3751979.842,278.51,0.718,-0.03471,29.645,69037.9439,-84.452748,33.88188

In [24]:
df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df1 = df1.append(df2)
df1

      HPI  Int_rate  US_GDP_Thousands
2001   80         2                50
2002   85         3                55
2003   88         2                65
2004   85         2                55
2005   80         2                50
2006   85         3                55
2007   88         2                65
2008   85         2                55